.contenedor-ayuda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap:25px
}

.contenedor-acordeon{
    width: auto;
    max-width: 800px;
}

.contenedor-terminos{
    align-items: center;
    flex-direction: column;
    width: auto;
    max-width: 840px;
}

@media (max-width:500px) {
    .contenedor-ayuda{
        margin: 20px;
    }
    .contenedor-terminos{
        display: flex;
        justify-content: center;
        width: auto;
        max-width: 400px;
        align-items: center;
        flex-direction: column;
    }
    
    .contenedor-acordeon{
        width: auto;
        max-width: 400px;
    }

    .terminos{
        width: 100%;
    }
}

