.contenedor-boton{
    display: flex;
    justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.imagen-producto{
  max-width: auto;
  width: 100%;
  max-height: auto;
  height: 230px;
  padding: 10px;
}


  .div-boton{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
