.contenedor-nav{
    display: flex;
    justify-content: center;
    background-color: white;
    position: sticky;
  }

  .img-logo{
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 90px;
  }

  @media screen and (max-width:434) {
    .img-logo{
      width: auto;
      max-width: 1500px;
      height: auto;
      max-height: 90px;
    }
  }

 

