.contenedor-nav{
    display: flex;
    justify-content: center;
    background-color: white;
    position: sticky;
  }

  .img-logo{
    width: auto;
    width: 200px;
    height: auto;
    height: 90px;
  }


