.fondo{
    background-color: #7D2AE8;
}

*{
    font-size: 16px;
  }
  
  
  @media screen and (max-width: 768px) {
    *{
      font-size: 14px;
    }
  }
  
  
  @media screen and (max-width: 1024px) {
    *{
      font-size: 18px;
    }
  }